body {
	background-image: url('/static//img/card-background.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

div.container {
	border: 1px solid white;
	background-color: rgba(50,50,50,0.2);
	margin: 2vw;
}

div.stream {
	padding: 2vw;
	background-color: rgba(200,200,200,0.5);
}

img.video {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

h1.title {
	text-align: center;
	font-size: 3vw;
}

p.label {
	text-align: center;
	font-size: 1.5vw;
}